<p class="cart-attributes__field">
  <label for="delivery-date">delivery date</label>
  <input id="delivery-date" type="date" name="attributes[delivery date]" value="{{ cart.attributes["delivery date"] }}">
</p>
